@charset "utf-8";
/* CSS Document */
.datos {
    list-style-type: none;
}
.educacion {
    list-style-type: none;
}
.curved {
    position: relative;
    background: #620eff;
    height: 15vh;
    border-bottom-left-radius: 50% 18%;
    border-bottom-right-radius: 50% 18%;
    margin: 0;
  }
  .cv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  hr {
    height: 2px;
    background-color: black;
  }