@charset "utf-8";
/* CSS Document */
.botonera a{
  margin: 10px;
  padding: 10px 20px;
  background-color:#fa8500;
  color: black;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}
.botonera a:hover {
  color: white;
  background-color: black
}
nav ul li {
  display: inline;
}
nav ul {
  list-style: none;
}

.Experiencia {
    list-style-type: none;
}
.educacion {
    list-style-type: none;
}
.Datos {
  list-style-type: none;
}
  hr {
    height: 2px;
    background-color: black;
  }