@charset "utf-8";
/* CSS Document */
h1{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: white;
  text-align: center;
  justify-content: center;
}
header{
  background-color: rgb(40, 55, 71);
  padding: 10px 5px;
  border-radius: 10px ;
}
.botonera a{
  margin: 0 10px;
  padding: 10px 20px;
  background-color:#fa8500;
  color: black;
  font-size: 25px;
  border-radius: 25px;
  cursor: pointer;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}
.botonera a:hover {
  color: white;
  background-color: black
}
.botonera {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
nav ul li {
  display: inline;
  flex-direction: row;
  justify-content: center;
}
nav ul {
  list-style: none;
}
main {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}
.foto{
  border-radius: 30px;
  border: 10px;
}
.Primeraparte{
  display: flex;
  flex-direction: row;
  margin: 20px 1000px 0px 0px;
  border: 2px solid #fa8500;
  border-radius: 30px;
  justify-items: flex-start;
}
#sobremi{ 
  padding:10px 40px 0px 30px;
}
h2 {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
}
h3{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.expe{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.expe h2{
  text-orientation:sideways;
  justify-content: center;
  padding: 0px 20px;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
}
.Wonder {
  background-color: #f7ca8e;
  display: inline-flex;
  flex-direction: column;
  width: 35%;
  border: 2px;
  border-radius: 30px;
  margin: 20px 25px;
  padding: 8px 25px;
  align-items: center;
  justify-content: center;
}
.Clipix {
  background-color: #f7ca8e;
  display: inline-flex;
  flex-direction: column;
  width: 35%;
  border: 2px;
  border-radius: 30px;
  margin: 20px 25px;
  padding: 8px 25px;
  align-items: center;
  justify-content: center;
}
.educacion {
    list-style-type: none;
}
.Datos {
  list-style-type: none;
}
  hr {
    height: 2px;
    background-color: black;
  }